@import url("https://fonts.googleapis.com/css2?family=Armata&display=swap");

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Armata", sans-serif;
}

/* Navigation styles */
nav {
  text-align: center;
  height: 50px;
  padding: 20px 40px;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 50px;
  font-size: 20px;
  text-transform: uppercase;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

section{
  height: 100vh;
}

h1{
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 100px 0 50px 0;
}
/* #home h1{
  font-size: 40px;
  text-align: center;
  margin: 100px 0 50px 0;
} */

#home{
  background: url('/image/bg01.png');
  background-repeat: no-repeat, repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(230, 230, 230, 0.8);
}

#home h2{
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
.hero-box{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  margin: 120px 50px;
}


.hero-pic {
  padding: 20px;
}

.hero-pic img{
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 29px 2px rgba(0,0,0,0.55);
  background-color: #efefef9c;
}

.hero-desc {
  margin: 100px 20px;
  text-align: left;
  width: 100%;
  background-color: #efefef9c;
}

.subtitle{
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  text-decoration: underline;
}
.hero-desc p{
  text-align: justify;
  line-height: 1.8;
}



#projects{
  background-color: aquamarine;
}

/* #projects h1 {
  padding-top: 80px;
  font-size: 40px;
  text-align: center;
  margin: 100px 0 50px 0;
} */
#projects h1{
  padding-top: 6rem;
}

#project-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 20px;
}

.project-card {
  padding: 20px 20px;
  margin: 0 1rem;
  text-align: center;
  max-width: 100%;
}
.project-card img{
  padding: 50px 20px;
  margin: 50px 0;
  max-width: 50%;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 29px 2px rgba(0,0,0,0.55);
}

#contact {
  padding: 50px;
  text-align: center;
}

.contact-title {
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}
